[credentials]
# API TOKEN бота (получают у @BotFather).
token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Логин владельца аккаунта Instagram.
login = xxxxxxxxxxxx

# Пароль владельца аккаунта Instagram.
password = xxxxxxxxxxxx

# Режим ручной авторизации в Instagram. Если автоматическая авторизация
# почему-то не срабатывает, можно попробовать активировать ручной режим.
manual_auth = False


[general]
# Максимальное количество единиц медиа для каждого аккаунта Instagram,
# извлекаемое за один цикл скрейпинга.
limit = 3

# Периодичность запуска скрейпинга Instagram при работе в режиме бесконечного
# цикла (секунды).
period = 3600

# Добавлять ли ссылку на запись Instagram в конец сообщения.
include_link = True

# Использовать ли прокси-сервер свободного доступа для скрейпинга Instgram.
# Данная опция является экспериментальной и не тестировалась должным образом.
use_proxy = False


#-----------------------------------------------------------------------------#
# Далее следует настройка списков аккаунтов Instagram, новости с которых      #
# будут агрегироваться, и списков каналов Telegram для пересылки контента.    #
#-----------------------------------------------------------------------------#


# Каждый аккаунт Instagram для мониторинга прописывается в заголовке секции в
# формате [instagram:название_аккаунта]
[instagram:starwars]

# Затем в секции перечисляются все каналы, группы или пользователи Telegram для
# пересылки извлечённой из Instagram информации.
# Для открытых каналов и групп можно указать запись в виде @название_канала.
# Для приватных сообществ, а также пользователей следует указать численный
# идентификатор, который можно получить, например, с помощью бота @ShowJsonBot.
# Перечисляются каналы через запятую, без пробелов.
telegram_channels = @test_channel,1234567890


[instagram:instagram]
telegram_channels = @test_channel,1234567890


[instagram:gisel_la]
telegram_channels = 1234567890
