urllib3==1.25.10
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
moviepy==1.0.3
numpy==1.19.5
Pillow==8.1.0
proglog==0.1.9
pyTelegramBotAPI==3.7.6
requests==2.25.1
tqdm==4.56.0
beautifulsoup4==4.9.3
